*
   font-family: 'Vazir' !important;


body
  background-color #eee
  font-family "Nunito"
  direction: rtl;

a.header-anchor
    float: right;
    margin: 0;
    margin-left: .23em;
    margin-top: 0.125em;

.table-of-contents a:before
    margin-left: 3px !important;
    margin-right: -15px !important;

.navbar .links
    left: 1.5rem;
    right: auto;

.search-box
    margin-left: 1rem;
    margin-right: auto;

.sidebar-button
    right: 1rem;
    left: auto;

.navbar .logo
    margin-right: 36px;

.extra-class pre
    direction: ltr;

.sidebar .sidebar-sub-headers
    padding-right: 1rem;
    padding-left: inherit;

#app a.sidebar-link {
    border-right: 0.125rem solid #ff000000  !important;
    border-left: 0;
}

#app a.sidebar-link.active{
    border-right-color: rgba(255,255,255,0.5) !important;
}

#app .sidebar-group a.sidebar-link {
    padding-right: 1.5rem;
    padding-left: inherit;
}

#app .sidebar-group:not(.collapsable) .sidebar-heading, #app .sidebar-heading {
    color: #ffffff !important;;
}

.sidebar-group-items > li > a:nth-child(1) {
    font-weight: bold !important;
}

#app a.sidebar-link {
    border-left: 0 !important;
}

/* Headings
-----------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
  font-weight 300

h1
  padding-bottom 16px
  border-bottom 2px solid rgba(0, 0, 0, 0.05)

h2
  border-bottom 0

.page-nav .next {
    float: none;
}

.page-nav .prev {
    float: left;
}

/* Page
-----------------------------------------------------------------------------*/
.page {

    padding-left: inherit;
}
@media (min-width 720px)
  .page
    padding-right 13.75rem


  .page-nav
    padding 0

  .page-nav > .inner
    padding 0
    border-top none

 @media (max-width: 959px)
   .page
     padding-right: 16.4rem  !important;


/* Navbar
-----------------------------------------------------------------------------*/
.navbar
  z-index 500
  border-bottom none
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, .05)

.navbar .logo
  width 165.37px

.nav-link, .repo-link
  font-weight 800

/* Sidebar
-----------------------------------------------------------------------------*/

.sidebar {
    right: 0;
    left: auto;
}

#app
  .sidebar
    width 18.75rem
    border-right none
    background-color transparent
    background: linear-gradient(rgb(11, 111, 198) 0%, rgb(64, 153, 222) 100%);

  .sidebar-heading
    padding 0 1.7rem
    margin-bottom: 0.5rem

  .sidebar-group:not(.first)
    margin-top: 0rem

  .sidebar-group:not(.collapsable) .sidebar-heading,
  .sidebar-heading
    text-transform uppercase
    letter-spacing 0.13rem
    font-size 12px
    font-weight 800
    color #C1CDDB

  a.sidebar-link
    color #fff
    border-left 0.125rem solid transparent

  a.sidebar-link:hover
    color #fff
    opacity 0.5
    border-left-color rgba(255, 255, 255, 0.7)

  a.sidebar-link:active
    color #fff
    opacity 0.7
    border-left-color rgba(255, 255, 255, 0.5)

  a.sidebar-link.active
    color #fff
    border-left-color rgba(255, 255, 255, 0.5)

  .sidebar-group a.sidebar-link
    padding-left 1.5rem

  @media (max-width 959px)
    .sidebar .nav-links
      border-bottom 2px solid rgba(255, 255, 255, 0.1)

  @media (max-width 719px)
    .nav-links a.nav-link, .nav-links a.repo-link
      color #fff

  @media (max-width: 719px)
     .sidebar
          top: 0;
          padding-top: 3.6rem;
          transform: translateX(100%);
          transition: transform 0.2s ease;

  @media (max-width: 719px)
      .theme-container.sidebar-open .sidebar
                                           transform: translateX(0);


/* Sidebar ul, li, a, div spacing
-----------------------------------------------------------------------------*/
.sidebar-links
  > li
    margin 0
    margin-bottom: 2rem

/* Icons
-----------------------------------------------------------------------------*/
.icon.outbound
  display none

/* Content
-----------------------------------------------------------------------------*/
h1 .header-anchor,
h2 .header-anchor,
h3 .header-anchor,
h4 .header-anchor,
h5 .header-anchor,
h6 .header-anchor
  opacity 1
  color #bbb

h1 .header-anchor:hover,
h2 .header-anchor:hover,
h3 .header-anchor:hover,
h4 .header-anchor:hover,
h5 .header-anchor:hover,
h6 .header-anchor:hover
  text-decoration none !important

.content:not(.custom)
  padding 4rem 2.5rem 1rem

.content img {
  border-radius: 6px
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05)
}

.content img {
  zoom: 50%;
}

/* TOC
-----------------------------------------------------------------------------*/
.table-of-contents
  ul
    list-style none
    list-style-position outside

  > ul
    padding-left 0

    > li
      padding 0
      margin 0

  a:hover
    text-decoration none !important
    opacity 0.5

  a:active
    text-decoration none !important
    opacity 0.7

  a:before
    content '# '
    color #bbb
    margin-left -15px
    margin-right 3px

/* Prev/Next Links
-----------------------------------------------------------------------------*/
@require './override'

$tipColor = #A48CD3

.prev, .next
  color $accentColor

/* Custom Blocks
-----------------------------------------------------------------------------*/
.custom-block.tip
  background-color $tipColor

.custom-block.tip,
.custom-block.warning,
.custom-block.danger
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, .05)
  border-left none
  border-radius 4px
  border 2px solid transparent

.custom-block.tip
  border-color darken($tipColor, 20%)

.custom-block.warning
  border-color darken(#F3ECC5, 30%)

.custom-block.danger
  border-color darken(#ffe6e6, 15%)

.custom-block-title
  color #fff

.custom-block.tip p, .custom-block.tip a
  color #fff

.custom-block.warning a,
.custom-block.danger a
  color currentColor

.custom-block a
  font-weight 800
  text-decoration underline

.custom-block code
  color #fff
  background-color rgba(0, 0, 0, 0.15)

/* Code Blocks
-----------------------------------------------------------------------------*/
div[class*="language-"]
  background-color white
  -webkit-font-smoothing subpixel-antialiased
  -moz-osx-font-smoothing subpixel-antialiased
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, .05)

.content pre, .content pre[class*="language-"]
  line-height 1.7

.content pre code, .content pre[class*="language-"] code
  color #666

div[class~="language-php"]:before
  content "php"

div[class*="language-"]:before
  color: rgba(0, 0, 0, 0.3)

.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin
  color $accentColor

.token.property, .token.class-name, .token.constant, .token.symbol
  color $tipColor

.token.boolean, .token.number, .token.function
  color #666

.token.string, .token.char, .token.attr-value, .token.regex, .token.variable
  color $accentColor

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata
  color #bbb
